{% extends "layout.html" %}

{% block title %}Automatic Decoding of Weather Satellites{% endblock %}

{% block content %}
<div class="row"><div class="col"><h1>Automatic Recording and Decoding of Low Earth Orbit Satellites.</h1></div></div>

<div class="row"><div class="col">page nb. {{ page }}</div></div>

<div class="row">
    <div class="col">
        <ul>
            {% for satpass in passes %}
                <li><a href="/{{ satpass['aos_time'] | datetime(true, '%Y-%m-%dT%H-%M-%S') }}.html">{{satpass['aos_time'] | datetime(true) }} UTC - {{ satpass['sat_name'] }} - {{ satpass['max_elev'] }}&deg; el</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">Displaying {{ start_passes }} / {{ start_passes + passes_per_pages }} passes of {{ total }}.</div>
</div>

<div class="row">
    <div class="col">
        Page:
        {% if pages == 1 %}
            <a href="/index.html">1</a>
        {% else %}
            {% for p in pages_list %}
                {% if p == 0 %}
                    <a href="/index.html">1</a>&nbsp;
                {% else %}
                    <a href="/index_{{ p }}.html">{{ p }}</a>&nbsp;
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}