{% extends "layout.html" %}

{% block title %}{{ sat_name }} AOS: {{ aos_time | datetime(false) }} LOS: {{ los_time | datetime(false) }}{% endblock %}

{% block content %}
<div class="row"><div class="col"><h1>{{ sat_name }} on {{ time_now | datetime(true) }}</h1></div></div>

<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                <tr><td>Sat</td><td>{{ sat_name}}</td></tr>
                <tr><td>AOS</td><td>{{ aos_time | datetime(false) }}</td></tr>
                <tr><td>LOS</td><td>{{ los_time | datetime(false) }}</td></tr>
                <tr><td>Max El</td><td>{{ max_el }}</td></tr>
                <tr><td>Start</td><td>{{ time_now | datetime(false) }}</td></tr>
                <tr><td>Rec time</td><td>{{ record_time(false) }}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <div class="picture">
            <div class="header">{{ sat_name }} - Normal Map</div>
                <div class="img">
                    <a href="/img_noaa/{{ sat_name }}/{{ img_tstamp }}-normal-map.jpg" title="See full res">
                        <img src="/img_noaa/{{ sat_name }}/{{ img_tstamp }}-normal-map.jpg" width="400px">
                    </a>
                </div>
        </div>
    </div>

    <div class="col">

    </div>
</div>

<hr>

{% if enhancements %}
    <div class="row">
        {% for enh in enhancements %}
            <div class="col">
                <div class="picture">
                    <div class="header">{{ sat_name }} - {{ enh['name'] }} Map</div>
                    <div class="img">
                        <a href="/img_noaa/{{ sat_name }}/{{ enh['img_path'] }}" title="See full res">
                            <img src="/img_noaa/{{ sat_name }}/{{ enh['img_path'] }}" width="500px">
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    <div class="row">
{% endif %}

{% endblock %}
